NODE_ENV=development
COMPOSE_PROJECT_NAME=io-onboarding

BACKEND_PORT=3000

POSTGRESQL_HOST=database
# POSTGRESQL_HOST=localhost
POSTGRESQL_DATABASE=db
POSTGRESQL_USERNAME=io-onboarding-pa-api
POSTGRESQL_PASSWORD=password

COOKIE_DOMAIN=localhost

CLIENT_DOMAIN=http://localhost:1234
CLIENT_SPID_LOGIN_REDIRECTION_URL=http://localhost:1234/login
CLIENT_SPID_ERROR_REDIRECTION_URL=http://localhost:1234/spid-login-error
CLIENT_SPID_SUCCESS_REDIRECTION_URL=http://localhost:1234/dashboard

SAML_ACCEPTED_CLOCK_SKEW_MS=-1
SAML_ATTRIBUTE_CONSUMING_SERVICE_INDEX=2
SAML_CALLBACK_URL=http://localhost:3000/assertion-consumer-service
SAML_ISSUER=https://spid.agid.gov.it/cd
SAML_CERT_PATH=./certs/cert.pem
SAML_KEY_PATH=./certs/key.pem
SPID_AUTOLOGIN=
SPID_TESTENV_URL=http://localhost:8088
IDP_METADATA_URL=https://registry.spid.gov.it/metadata/idp/spid-entities-idps.xml
TOKEN_DURATION_IN_SECONDS=3600

INDICEPA_ADMINISTRATIONS_URL=https://raw.githubusercontent.com/teamdigitale/io-onboarding-pa-api/169591647-public-administration-emails-for-development-environment/development-data/administrations.txt

EMAIL_PASSWORD=password
EMAIL_USER=user
EMAIL_SMTP_HOST=mailhog
# EMAIL_SMTP_HOST=localhost
EMAIL_SMTP_PORT=1025
EMAIL_SMTP_SECURE=false
EMAIL_SENDER=indirizzo@mittente.it

### Aruba Remote Signature Service configuration
ARSS_WSDL_URL=https://arss.demo.firma-automatica.it/ArubaSignService/ArubaSignService?wsdl
ARSS_IDENTITY_OTP_PWD=0973487814
ARSS_IDENTITY_TYPE_OTP_AUTH=demoprod
ARSS_IDENTITY_USER=titolare_rem
ARSS_IDENTITY_USER_PWD=password22

### Optional variables
#ADMINISTRATION_SEARCH_RESULTS_LIMIT=10
